* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    /* border: 1px solid red; */

}

:root {
    --gray:#ECEFF1;
    --dark:#131415;
    --arg:#73c5e0;

}

.container-nav {
    width: 100%;
    height: 100%;
   
}

.navbar {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
    
}

.navbar img {
    width: 200px;
    height: auto;
}

.navbar ul  {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbar a {
   list-style: none;
   color: var(--dark);
}

.navbar i {
    margin: 20px;
}

.buscador input {
    padding: 5px;
    border-radius: 8px;
    width: 250px;
    background-color: var(--gray);
}

.buscador {
    position: relative;
}

.icon-lupa {
    position: absolute;
    top: -13px;
    left:200px;
   
}


.cuotas6 {
    width: 100%;
    height: 200px;
    background-color: var(--dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cuotas6 h2{
    font-size: 35px;
}

.cuotas6 p {
    font-size: 20px;
}

.hero {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 100px;

}

.hero img {
    width: 600px;
    height: 600px;
}

.texto-hero {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.texto-hero h2 {
    font-size: 50px;
}

.texto-hero p {
    font-size: 20px;
}

.container-arg-pasion{
    z-index: 1;
    background-image: url(./img/arg-pasion.jpg);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
   
}

.arg-pasion {
    width: 100%;
    max-width: 1300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    
}

.populares {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
    margin-bottom: 100px;

}

.cards-populares {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* border: #131415 solid 1px; */
    gap: 5px;
   
    
   
}

.card-popu img {
    width: 302px;
    height: 310px;
    
}

.card-popu {
    width: 95%;
    height: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: all 0.5s linear;
}

.card-popu:hover{
    border: 1px solid var(--dark);
    transition: all 0.5s linear;
    border-radius: 5px;
    
}

.card-popu span {
    position: absolute;
    bottom: 102px;
    background-color: white;
    box-shadow: 0 0 26px rgb(108, 107, 107);
    padding: 2px;
    border-radius: 5px;
}

.card-popu button {
    width: 100px;
    margin-left: 200px;
    background-color: var(--gray);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--dark);
    
}

.cartContainer {
    top: 0;
    right: 0;
    position: absolute;
    width: 600px;
    min-height: 800px;
    color: #ffffff;
    z-index: 999999;
    background-color: var(--arg);
    
}
.cartBase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    z-index: 2;

}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:400px;
    border-bottom: #131415 solid ;
    
}

.x {
    border-radius: 5px;
    padding: 8px;
    background: linear-gradient(98.81deg, var(--gray) -0.82%,#73c5e0 101.53%);
    position:absolute;
    left: 0;
    z-index: 3;
    cursor: pointer;

}

.space {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hidden{
    display: none;
}

.icons{
    width: 100%;
    position: relative;
}

.counter_cart {
    background-color:var(--arg);
    color:white;
    /* outline: 1px solid #FFFFFF; */
    border-radius: 50%;
    font-size: 10px;
    padding: 1px;
    font-weight: 400;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 35px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.buttonAgregar{
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
    
}

.cart-item img {

    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    box-shadow: 0 0 26px rgba(255, 255, 255, 0.699);
    border-radius: 10px;

}

.item-info {
    width: 100%;
    padding-bottom: 30px;
}

.item-cant{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-cant {
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 25px;
    border-radius: 10px;

}

.signo-peso{
    display: flex;
}


.section-footer {
    width: 100%;
    height: 41vh;
    background-color: var(--arg);
    margin: 0 auto;
}

.footer{
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    background-color: var(--arg);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.texto-footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}

.texto-footer p {
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.5s linear;

}


.texto-footer p:hover {
    transition: all 0.5s linear;
    color: var(--gray);
    

}

.texto-footer2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

}

.texto-footer2 p {
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.texto-footer2 p:hover {
    transition: all 0.5s linear;
    color: var(--gray);
    

}

.icons-footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.icons-footer a {
    color: var(--dark);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.icons-footer a:hover {
    transition: all 0.5s linear;
    color: var(--gray);
}

#toggle-menu {
    display: none;
}


@media (max-width: 992px) {
    .hero img {
        display: none;
    }

    .buscador{
        display: none;
    }


    .navbar {
        gap: 10px;
    }

    .navbar img{
        width: 50px;
    }

    .navbar ul{
         gap:5px;
    }



    .cartContainer {
        top: 0;
        right: 0;
        position: absolute;
        width: 320px;
        min-height: 800px;
        color: #ffffff;
        z-index: 999999;
        background-color: var(--arg);
        
    }

    
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width:300px;
        border-bottom: #131415 solid ;
        
    }
    
    .cart-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 120px;
        box-shadow: 0 0 26px rgba(255, 255, 255, 0.699);
        border-radius: 10px;
        font-size: 14px;
    
    }

    .cart-item img {
        width: 90px;
        height: 90px;
    }


    
    .btn-cant {
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;

    }

    .cuotas6 p {
       font-size: 15px;
    }

    .cuotas6 h2 {
        font-size: 18px;
    }

    .hero {
        justify-content: center;
        margin: 0 auto;
    }

    .texto-hero h2 {
        font-size: 20px;
    }


    .container-arg-pasion {
        display: none;
    }

    .cards-populares {
        grid-template-columns: 1fr 1fr ;
    }

    
    .card-popu img {
        width: 157px;
        height: 160px;
        
    }
    
    .card-popu {
        width: 95%;
        height: 310px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        transition: all 0.5s linear;
        margin-bottom: 20px;
    }

    
    .card-popu span {
        position: absolute;
        bottom: 152px;
        background-color: white;
        box-shadow: 0 0 26px rgb(108, 107, 107);
        padding: 2px;
        border-radius: 5px;
    }
    
    .card-popu button {
        width: 80px;
        margin-left: 0px;
        background-color: var(--gray);
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid var(--dark);
        
    }


    .section-footer{
        height: 100%;
    }

    .footer{
        flex-direction: column;
        height: 100%;
    }

    .icons-footer {
        flex-direction: row;
    
    }
    
    .icons-footer i {
        font-size: 18px;
    }
}